@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #0f1115;
  color: #e6e8ef;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2c3142;
  border-radius: 999px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2c3142 transparent;
}
